.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 70px; // Space for footer
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.backButton {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.orderList {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.orderItem {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}

.productImage {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.productTitle, .quantity, .price, .totalPrice {
    flex: 1;
    text-align: center;
}

.removeButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    color: red;

    &:hover {
        transform: scale(1.1);
    }
}

/* Footer (Fixed at Bottom) */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 20px;
    border-top: 2px solid #ddd;
}

.summary {
    display: flex;
    gap: 20px;
}

.whatsappButton {
    background: red;
    color: white;
    border: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.whatsappButton:hover {
    background: darkred;
}

.deliveryWrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.deliveryLabel {
  font-weight: bold;
}

.deliverySelect {
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}